<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/map.css")">

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHmQxygMmLD-Yel0iHZZ1XqigLKIcGq_0">
    </script>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/markerwithlabel_packed.js")" type="text/javascript"></script>
    <script type="text/javascript">
        @()(implicit request: RequestHeader)
    </script>

    @helper.javascriptRouter("jsRoutes")(
            controllers.routes.javascript.Application.jsonList
        )
    <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div id="map-canvas"/>
</body>
</html>